@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}
Body{
    /*min-height: 100vh;*/
    
    
    background-size: contain;
    background-repeat: no-repeat;
    
   
}
header{
   
    height: 100px;
    width: 100%;
    background: url(e4c05a8aee683b8f8257aa19e42213c9.jpg)no-repeat;
    background:  rgba(230, 72, 72, 0.534);
    background-size: cover;
    display: flex;
   
}
img{
    height: 70px;
    width: 200px;
}

.u2{
    display: flex;
    margin: 10px;
    padding: 5px;
    
}

.u2 li a{
    justify-content: space-around;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.521);
    border-radius: 5px;
    
}

.u2 li a:hover{
    background: rgb(243, 58, 58);
    color: #fff;
    transition: 0.5s;
}


.div1{
    width: auto;
    height: 70px;
    background: rgb(243, 58, 58);
}

.div2{
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.664);
    color: #fff;
    justify-content: center;
}

.div4{
    width: 400px;
    justify-content: center;
    font-weight: bold;
}

.div5{
    width: 400px;
    height: 300px;
}

h2{
    justify-content: center;
    
    
}
.div3 h2{
    font-size: 1.25rem;
}

.sect1{
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    width: auto;
    align-items: flex-start;
    text-align: center;
   
}

h5{
    margin: 10px;
    font-size: larger;
    
}

hr{
    transform: rotate(1turn);  
    border: 2px solid rgb(243, 58, 58);  
    height: 350px;
}

.img1{
    height: 300px;
    width: 400px;
    cursor: pointer;
}

.img1:hover{
    transition: 0.5s;
    transform: scale(1.04);
}

.sect2{
    display: flex;
    justify-content: space-between;
}

.div6{
    display: grid;
}

.btn{
    background: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
    width: 120px;
    height: 30px;
    
    
    
}

.btn:hover{
    transition: 0.4s;
    background: rgb(243, 58, 58);

}

.file{
    font-size: large;
    background: #000;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    border: 2px solid #000;
}

.file:hover{
    transition: 0.4s;
    background: rgb(243, 58, 58);
    color: #fff;
   
}

.date{
    font-size: x-large;
    background: rgb(243, 58, 58);
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    border: 2px solid #000;
    height: 50px;

}
@media screen and (max-width: 750px){
    .sect1{
        display: grid;
    }
    hr{
        margin-top: 20px;
        transform: rotate(50%);
        height: 2px;
    }
    .sect2{
        display: grid;
        justify-content: center;
    }
    .div6{
        justify-content: center;
        text-align: center;

    }
}
